Provide getGuid() method in java workflow SDK

## Describe the proposal

As required by documentation "Workflow functions must call deterministic APIs"

https://docs.dapr.io/developing-applications/building-blocks/workflow/workflow-features-concepts/#workflow-functions-must-call-deterministic-apis

```cshap
// DON'T DO THIS!
DateTime currentTime = DateTime.UtcNow;
Guid newIdentifier = Guid.NewGuid();
string randomString = GetRandomString();
```

```cshap
DateTime currentTime = context.CurrentUtcDateTime;
Guid newIdentifier = context.NewGuid();
string randomString = await context.CallActivityAsync<string>("GetRandomString");
```

Now in java workflow SDK, we don't provide such getGuid() method (yeat context.getCurrentInstant() method is provided) .

We need to improve our java workflow sdk to provide this getGuid() method. 

And this getGuid() method is NOT provided by durable task java SDK, so we need to update durable task java SDK first.

This improvement should be included in next release. 

https://github.com/microsoft/durabletask-dotnet/blob/main/src/Abstractions/TaskOrchestrationContext.cs

```cshap
    /// <summary>
    /// Creates a new GUID that is safe for replay within an orchestration or operation.
    /// </summary>
    /// <remarks>
    /// The default implementation of this method creates a name-based UUID V5 using the algorithm from RFC 4122 §4.3.
    /// The name input used to generate this value is a combination of the orchestration instance ID, the current time,
    /// and an internally managed sequence number.
    /// </remarks>
    /// <returns>The new <see cref="Guid"/> value.</returns>
    public abstract Guid NewGuid();
```